<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1 class="text-white"><%= title %></h3>

<div class="container bg-light" id="formdiv">
    <form action="/profiles/<%= profile._id %>?_method=PUT" method="POST">
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">
            Name
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control-lg" name="name" value="<%= profile.name %>">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Location</label>
          <div class="col-sm-10">
            <input type="text" class="form-control-lg" name="location" value="<%= profile.location %>">
          </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Bio</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-lg" name="bio" value="<%= profile.bio %>">
            </div>
          </div>
        
        <button type="submit" class="btn btn-primary">Confirm</button>
      </form>
    </div>


<%- include('../partials/footer') %>
