<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<div class="container mt-5 text-white">
  <div class="row">
    <div class="col-4">
      <img src="<%= profile.avatar %> " class="img-fluid" style="width: 250px;" alt="Album Cover">
    </div>
    <div class="col-4">
      <h1 class="fw-bold text-white pt-2"><%= profile.name %></h3>
      <h3 class="fw-bold text-white fst-italic"><%= profile.location %></h3>
      <p class="fs-6"><%= profile.bio %></p>
    </div>
  </div>
</div>
<div class="container mt-5 text-white">
  <div class="row">
    <div class="col-4">
      <% if (user.profile._id.toString() === profile._id.toString()) { %>
        <a href="/profiles/<%= profile._id %>/edit">
          <button class="btn-light btn-lg profilebtn">Edit Profile</button>
        </a>
        <% } %>
    </div>
    <div class="col-4">
      
    </div>
  </div>
</div>







<h1 class="fw-bold text-white pt-2 mt-5 proftable"><center><%= profile.name %>'s Collection</center></h1>

<div class="container bg-dark" id="formdiv">
    <table class="table table-striped table-dark" id="list">
      <thead>
        <tr>
          <th scope="col">Artist</th>
          <th scope="col">Title</th>
          <th scope="col">Released</th>
          <th scope="col">Label</th>
          <th scope="col">Genre</th>
          <th scope="col">Reviews</th>
          <% if (user.profile._id.toString() === profile._id.toString()) { %>
          <th scope="col">Remove</th>
          <% } %> 
        </tr>
      </thead>
      <tbody>
        <% profile.shelf.forEach((record) => { %>
        <tr>
          <td>
            <form action="/records/artistClickSearch" method="POST" class="d-flex mx-4">
              <input type="submit" class="remove_button_css btn-link link-info" name="artist" value="<%= record.artist %>">
            </form>
          </td>
          <td><a href="/records/<%= record._id %>" class="link-info">
            <button class="remove_button_css btn-link link-info">
            <%= record.title %></a></button>
          </td>
          <td>
            <form action="/records/yearClickSearch" method="POST" class="d-flex mx-4">
              <input type="submit" class="remove_button_css btn-link link-info" name="originalYear" value="<%= record.originalYear %>">
            </form>
          </td>
          <td>
            <form action="/records/labelClickSearch" method="POST" class="d-flex mx-4">
              <input type="submit" class="remove_button_css btn-link link-info" name="label" value="<%= record.label %>">
            </form>
          </td>
          <td>
            <form action="/records/genreClickSearch" method="POST" class="d-flex mx-4">
              <input type="submit" class="remove_button_css btn-link link-info" name="genre" value="<%= record.genre %>">
            </form>
          </td>
          <td>
            <a href="/records/<%= record._id %>" class="link-info">
              <button class="remove_button_css btn-link link-info">
                <%= record.reviews.length %>
                </button>
            </a>
            </td>
            <% if (user.profile._id.toString() === profile._id.toString()) { %>
            <td>
              <form class="" action="/records/<%= record._id %>/removeFromCollection" method="POST" name="recordId">
                <button>Remove</button><br>
              </form>
            </td>
            <% } %> 
        </tr>
        <% }) %>
      </tbody>
    </table>
</div>

<h1 class="fw-bold text-white pt-2 proftable"><center><%= profile.name %>'s Wishlist</center></h1>


<div class="container bg-dark" id="formdiv">
    <table class="table table-striped table-dark" id="list">
      <thead>
        <tr>
          <th scope="col">Artist</th>
          <th scope="col">Title</th>
          <th scope="col">Released</th>
          <th scope="col">Label</th>
          <th scope="col">Genre</th>
          <th scope="col">Reviews</th>
          <% if (user.profile._id.toString() === profile._id.toString()) { %>
          <th scope="col">Remove</th>
          <% } %> 
        </tr>
      </thead>
      <tbody>
        <% profile.wishlist.forEach((record) => { %>
        <tr>
          <td>
            <form action="/records/artistClickSearch" method="POST" class="d-flex mx-4">
              <input type="submit" class="remove_button_css btn-link link-info" name="artist" value="<%= record.artist %>">
            </form>
          </td>
          <td>
            <a href="/records/<%= record._id %>" class="link-info">
            <button class="remove_button_css btn-link link-info"><%= record.title %></button>
          </a>
        </td>
          <td>
            <form action="/records/yearClickSearch" method="POST" class="d-flex mx-4">
              <input type="submit" class="remove_button_css btn-link link-info" name="originalYear" value="<%= record.originalYear %>">
            </form>
          </td>
          <td>
            <form action="/records/labelClickSearch" method="POST" class="d-flex mx-4">
              <input type="submit" class="remove_button_css btn-link link-info" name="label" value="<%= record.label %>">
            </form>
          </td>
          <td>
            <form action="/records/genreClickSearch" method="POST" class="d-flex mx-4">
              <input type="submit" class="remove_button_css btn-link link-info" name="genre" value="<%= record.genre %>">
            </form>
          </td>
          <td>
            <button class="remove_button_css btn-link link-info">
            <a href="/records/<%= record._id %>" class="link-info">
                <%= record.reviews.length %>
            </a>
            </button>
            </td>
            <% if (user.profile._id.toString() === profile._id.toString()) { %>
            <td>
              <form class="" action="/records/<%= record._id %>/removeFromWishlist" method="POST" name="recordId">
                <button>Remove</button><br>
              </form>
            </td>
            <% } %> 
        </tr>
        <% }) %>
      </tbody>
    </table>
</div>

<%- include('../partials/footer') %>