<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<% if (user) { %> 
<div class="container">
  <p><center><h3 class="text-white">Can't find something?  <a href="/records/new" class="link-info">Add it to our database!</a></h3></center></p>
</div>
<% } %> 
<div class="container bg-dark" id="formdiv">
    <table class="table table-striped table-dark" id="list">
      <thead>
        <tr>
          <th scope="col">Artist</th>
          <th scope="col">Title</th>
          <th scope="col">Released</th>
          <th scope="col">Label</th>
          <th scope="col">Genre</th>
          <th scope="col">Format</th>
          <th scope="col">Reviews</th>
        </tr>
      </thead>
      <tbody>
        <% record.forEach((record) => { %>
        <tr>
          <td>
            <form action="/records/artistClickSearch" method="POST" class="d-flex mx-4">
              <input type="submit" name="artist" value="<%= record.artist %>">
            </form>
          </td>
          <td><a href="/records/<%= record._id %>" class="link-info"><%= record.title %></a></td>
          <td>
            <form action="/records/yearClickSearch" method="POST" class="d-flex mx-4">
              <input type="submit" name="originalYear" value="<%= record.originalYear %>">
            </form>
          </td>
          <td>
            <form action="/records/labelClickSearch" method="POST" class="d-flex mx-4">
              <input type="submit" name="label" value="<%= record.label %>">
            </form>
          </td>
          <td><%= record.genre %></td>
          <td><%= record.format %></td>
          <td><a href="/records/<%= record._id %>" class="link-info">
            <%= record.reviews.length %>
          </a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
</div>

<%- include('../partials/footer') %>