<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <img src="<%= record.cover %> " class="img-fluid" style="width: 500px;" alt="Album Cover">
    </div>
    <div class="col-2">
      <h3 class="text-white">Artist:</h3>
      <h3 class="text-white">Title:</h3>
      <h3 class="text-white">Released:</h3>
      <h3 class="text-white">Label:</h3>
      <h3 class="text-white">Genre:</h3>
      <h3 class="text-white">Format:</h3>
    </div>
    <div class="col-4">
      <h3 class="text-white"><%= record.artist %></h3>
      <h3 class="text-white"><%= record.title %></h3>
      <h3 class="text-white"><%= record.originalYear %></h3>
      <h3 class="text-white"><%= record.label %></h3>
      <h3 class="text-white"><%= record.genre %></h3>
      <h3 class="text-white"><%= record.format %></h3>
    </div>
  </div>
</div>
<div class="container mt-5 text-white">
  <div class="row">
    <div class="col">
      <% if (user) { %> 
        <form class="" action="/records/<%= record._id %>/addToCollection" method="POST" name="recordId">
          <button class="btn-light btn-lg profilebtn">Add to Collection</button><br>
        </form>
        
        <button class="btn-light btn-lg profilebtn">Add to Wishlist</button><br>
        
        <a href="/records/<%= record._id %>/edit">
            <button class="btn-light btn-lg profilebtn">Edit Record</button>
        </a>
        <form action="/records/<%= record._id %>?_method=DELETE" method="POST">
            <button class="btn-light btn-lg profilebtn">Delete Record</button>
        </form>
    </div>

    <div class="col fs-3">
        <div class="row">
          <div class="col">
            <form action="/records/<%= record._id %>/reviews" method="POST">
              <label for="content-textarea">Review:</label><br>
              <textarea name="content" id="content-textarea" style="width: 500px; height: 100px;"></textarea><br>
              <label for="rating-select">Rating:</label>
                  <select name="rating" id="rating-select">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5" selected>5</option>
                  </select>
              <button type="submit">Add Review</button>
              </form>
          </div>
        </div>
    </div>
  </div>
  <% } %> 
</div>




<br><br><br><br><br><br><br><br><br><br>

<% if (user) { %>

  <% if (record.reviews.length) { %>

<div class="container col-12 text-white fs-3">
  <div class="row">
    <div class="col-2 d-flex justify-content-start">Date</div>
    <div class="col-4 d-flex justify-content-center">Review</div>
    <div class="col-2 d-flex justify-content-end">Rating</div>
  </div>

  <% let total = 0 %> 
  <% record.reviews.forEach((review) => { %>
  <% total += review.rating %>


  <div class="row">
    <div class="col-2 d-flex justify-content-start"><%= review.createdAt.toLocaleDateString() %></div>
    <div class="col-4 d-flex justify-content-start"><%= review.content %></div>
    <div class="col-2 d-flex justify-content-end"><%= review.rating %></div>
  </div>

<% }) %>

  <div class="row">
    <div class="col-2 d-flex justify-content-start"></div>
    <div class="col-4 d-flex justify-content-start"></div>
    <div class="col-2 d-flex justify-content-end">
      <strong><%= (total / record.reviews.length).toFixed(1) %></strong>
    </div>
  </div>
</div>

<% } else { %>
  <h4>No Reviews Yet</h4>
<% } %>

<% } %>

  
<%- include('../partials/footer') %>