<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h3 class="text-white">Artist: <%= record.artist %></h3>
<h3 class="text-white">Title: <%= record.title %></h3>
<h3 class="text-white">Released: <%= record.originalYear %></h3>
<h3 class="text-white">Label: <%= record.label %></h3>
<h3 class="text-white">Genre: <%= record.genre %></h3>
<h3 class="text-white">Format: <%= record.format %></h3>
<h3 class="text-white">Reviews:</h3>

<a href="/records/<%= record._id %>/edit">
    <button>Edit Record</button>
  </a>
<form action="/records/<%= record._id %>?_method=DELETE" method="POST">
    <button>Delete Record</button>
</form>

<%- include('../partials/footer') %>