<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1 class="display-5 fw-bold text-white pt-2"><%= record.artist %></h1>
<h1 class="display-5 fw-bold text-white pt-2"><%= record.title %></h1>
<h1 class="display-5 fw-bold text-white pt-2"><%= record.originalYear %></h1>
<h1 class="display-5 fw-bold text-white pt-2"><%= record.repressYear %></h1>
<h1 class="display-5 fw-bold text-white pt-2"><%= record.label %></h1>
<h1 class="display-5 fw-bold text-white pt-2"><%= record.genre %></h1>
<h1 class="display-5 fw-bold text-white pt-2"><%= record.format %></h1>
<h1 class="display-5 fw-bold text-white pt-2"><%= record.color %></h1>



<%- include('../partials/footer') %>